/* general */

*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-image: url(/resources/images/wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: #3366CC
}

/* container */

.container{
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  color: #1c3455;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content{
  margin: 20px;
  padding: 0 15px;
}

.content_banner{
  display: inline-block;
  background-color: #e8bc28;
  color: #204794;
}

/* banner */

.header{
  position: sticky;
  padding: 10px;
  background-color: #e8bc28;
  color: #3366CC;
  z-index: 999;
  top: 0;
}

/* introduction */

.introduction{
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.introduction_container{
  margin: 15px;
}

.introduction_box{
  display: block;
  max-width: 500px;
  background-color: rgb(226, 231, 231);
  box-shadow: 2px 0 10px rgb(0 0 0 / 60%);
  border-radius: 10px;
}

.introduction_title{
  padding: 10px;
  text-align: center;
  background-color: #e8bc28;
  color: #3366CC;
  border-radius: 10px 10px 0 0;
}

.introduction_image--img{
  margin: 15px;
  max-height: 300px;
}

.introduction_content{
  margin: auto;
  font-size: 25px;
  padding: 10px;
  color: rgb(75, 74, 74)
}

.introduction_start{
  margin-top: 20px;
  padding: 10px;
  max-width: 500px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  background-color: #F42F63;
  color: white;
  box-shadow: 2px 0 5px rgb(0 0 0 / 60%);
  border-radius: 10px;
  cursor: pointer;
}

/* pages */

.page{
  display: none;
  padding: 20px;
}

.page_title{
  display: inline-block;
  padding: 10px;
  text-align: center;
  background-color: #1d9abb;
  color: #1c3455;
  border-radius: 5px;
}

.page_subtitle{
  padding: 10px;
  color: rgb(73, 73, 73);
}

.page_content{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page_information{
  color: #1a3153;
  padding: 10px;
  font-size: 20px;
  text-justify: auto;
}

.page_information span {
  display: inline-block;
  padding: 10px 0;
}

.page_image--image{
  max-width: 100%;
  border-radius: 10px;
}

.page_video--video{
  max-width: 100%;
  border-radius: 10px;
}

.congrats{
  text-align: center;
}

.congrats > h2{
  display: inline-block;
  color: white;
  background: #3366CC;
  padding: 10px 30px;
  border-radius: 5px;
}

.congrats > span{
  font-size: 20px;
  font-weight: bold;
}

/* table */

.table_title {
  color: white;
  background: #3366CC;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.table-container {
  margin-top: 20px;
  overflow-x: auto;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 0 20px;
}

.table {
  border-collapse: collapse;
  border-radius: 5px;
  width: 100%;
}

.table__head {
  color: black;
  border: 1px solid #f9f9f9;
  border-radius: inherit;
}

th[class$='table__head']{
  padding: 15px;
  text-align: left;
  color: #212529;
  border: 0 solid #000000;
  border-bottom-width: 1px;
}

td[class^="table__data"]{
  padding: 10px;
  border: 0 solid #dee2e6;
  border-radius: inherit;
  text-align: left;
  color: #212529;
  border-bottom-width: 1px;
}

.table .tbody tr:hover{
  background-color: #f6f0ce;
}

/* pagination */

.pagination{
  /* display: flex; <- this attribute will be activate with js*/
  display: none;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.btn{
  width: 340px;
  height: 50px;
  border-style: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin: 10px 5px;
  background: #2a4e6b;
  cursor: pointer;
}

/* footer */

.footer{
  display: flex;
  justify-content: space-between;
}

.footer_logo--img{
  width: 300px;
}

@media screen and (min-width: 580px){
  .introduction{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .page_content{
    flex-direction: row;
  }

  .flex-row-reverse{
    flex-direction: row-reverse;
  }

  .flex-column{
    flex-direction: column;
  }
}